* {
  box-sizing: border-box;
}

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(43, 126, 43);
    color: beige;
  }

  header{
    background-color: darkslategrey;
    color: darkslategrey;
    padding: 10px;
    text-align: center;
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
  }

  li{
    float: left;
  }

  li a{
    display: block;
    color: burlywood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover{
    background-color: darkslategrey;
  }

  footer{
    text-align: center;
    padding: 18px;
    background-color: black;
    color: antiquewhite;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    resize: vertical;
  }

  label{
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit]{
    background-color: green;
    color: aliceblue;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 5px;
  }

  input[type=reset]{
    background-color: crimson;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin: 0;
  }

  input[type=sumit]{
    background-color: chartreuse;
  }
  
  .container{
    border-radius: 5px;
    background-color: darkgreen;
    padding: 20px;
    margin:10px;
  }

  .col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row::after{
    content: "";
    display: flex;
    clear: both;
  }